<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Amazon Ruins Cities</title>
		<meta charset="utf-8" />
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
        <link rel="manifest" href="static/images/site.webmanifest">
        <link rel="mask-icon" href="static/images/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="stylesheet" href="static/css/main.css" />
        <link rel="shortcut icon" href="static/favicon.ico" />
	</head>
	<body id="top">
        <nav>
            <img class="nav-logo" src="static/images/arc-main-logo.png" />
        </nav>

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
				<section id="banner" data-video="images/banner">
					<div class="inner">
						<header>
							<h1>Amazon Ruins Cities</h1>
							<p>While NYC's public transit system crumbles Amazon gets $4.5B in tax breaks</p>
						</header>
						<a href="#main" class="more">Learn More</a>
					</div>
				</section>

			<!-- Main -->
				<div id="main">
					<div class="inner">

					<!-- Boxes -->
						<div class="thumbnails">

							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="static/images/Amazon-logo.png" alt="" /></a>
								<div class="inner">
									<h3>Amazon is moving into NYC with 25,000+ people and almost $2B in tax breaks</h3>
									<a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="static/images/helipad.jpg" alt="" /></a>
								<div class="inner">
									<h3>Queens could use this tax funding for affordable housing, public transit, and schools</h3>
									<a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="static/images/housing.jpg" alt="" /></a>
								<div class="inner">
									<h3>Amazon would strain our already outdated wastewater systems that flood into our East River</h3>
									<a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="static/images/cuomo-deblasio.jpg" alt="" /></a>
								<div class="inner">
									<h3>Do you support Amazon in Queens? Join our mailing list to speak up</h3>
									<a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>
						</div>

					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
                        <img class="main-arc-logo" src="static/images/arc-main-logo.png" />
						<h2>Sign up to receive updates</h2>
                        <form class="signup-form" action="/user" method="post">
                            <input type="email" name="Email" placeholder="Email" />
                            <input type="tel" name="Phone" placeholder="Phone" />
                            <input type="submit" value="Submit">
                        </form>
						<p>Amazon Ruins Cities is independently operated by the concerns citizens of New York City.</p>

						<ul class="icons">
							<li><a href="https://twitter.com/amazonruins" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.instagram.com/AmazonRuins_Cities/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>.</p>
					</div>
				</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.poptrox.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
    <script>
        <!-- TODO: write script to handle form submission/AJAX call to POST /user -->
    </script>

	</body>
</html>